version: '3.8'

services:
  user-service:
    build: .
    ports:
      - "8003:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/user_db
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=user_db
    ports:
      - "5435:5432"
    volumes:
      - user_postgres_data:/var/lib/postgresql/data

volumes:
  user_postgres_data:
